/* =========================
   RESPONSIVE SETTINGS
   ========================= */

/* HERO RESPONSIVE */
@media (max-width: 768px) {
    .hero {
        height: 40vh;
        text-align: center;
        padding: 20px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }
}

/* CAROUSEL RESPONSIVE */
@media (max-width: 768px) {
    .carousel-inner {
        height: 250px !important;
    }

    .carousel-inner img {
        height: 250px;
        object-fit: cover;
    }
}

/* PRODUCT CARD RESPONSIVE */
@media (max-width: 576px) {
    .product-card img {
    width: 100%;
    height: auto;       
    object-fit: cover;   
}

    .product-card h5 {
        font-size: 18px;
    }

    .product-card p {
        font-size: 16px;
    }

    .product-card button {
        width: 100%;
    }
}

/* NAVBAR RESPONSIVE */
@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        margin: 5px 0;
    }
}

/* FOOTER RESPONSIVE */
@media (max-width: 576px) {
    footer p {
        font-size: 14px;
    }
}


